.media-info {
    padding-top: 40px;
    padding-bottom: 60px;
}

.media-info__content .media-info__video_title {
    text-align: center;
}


.media-info__content.row-fluid {

}

    .media-info__content.row-fluid > h3.light {
        text-align: center;
        font-family: "BentonSansLight", Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-weight: normal;
        line-height: 30px;
    }

.media-info iframe, .media-info object, .media-info embed {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.media-info__content i {
	color: #fdb813;
}
