.parsys-pull-right {
    display: flex;
    justify-content: flex-end;
    top: auto;
    position: inherit;
}

.multiparsys .parsys_multi .parsys-pull-right .parsys__btn {
    background-color: #f8b20c;
    background-image: -moz-linear-gradient(top, #fdb813, #efa902);
    background-image: -webkit-gradient( linear, 0 0, 0 100%, from(#fdb813), to(#efa902) );
    background-image: -webkit-linear-gradient(top, #fdb813, #efa902);
    background-image: -o-linear-gradient(top, #fdb813, #efa902);
    background-image: linear-gradient(to bottom, #fdb813, #efa902);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdb813', endColorstr='#ffefa902', GradientType=0);
}

.multiparsys .parsys_multi .parsys-pull-right .parsys__btn {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-family: "BentonSansBold", Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    border: none;
    color: #222;
    margin-bottom: 5px;
    padding: 10px 20px;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    color: #323232;
    bottom: 4px;
    margin-left: 10px;
}

@media (min-width: 768px) {
    .multi-parsys {
        display: grid;
        grid-gap: 10px;
        margin: 0;
        text-align: center;
    }
}
