.hero-list__img{
	max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.hero-list__content p {
    text-align: left;
}

.hero-list__content h3 {
    border-bottom: 2px solid #ffffff;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.hero-list__content ul {
    font-size: 12px;
    text-align: left;
    margin-left: 30px;
}

.hero-list__content ul li i {
    font-size: 24px;
    position: relative;
    left: 8px;
    bottom: -7px;
}

.hero-list__content ul li{
	text-indent: -1.50em;

}

.hero-list__content i {
	color: #fdb813;
}